{% extends 'myapp/base.html' %}
{% block content %}


<center><h1 class="card-header text-center" style="background-color: #394a71; color: white; ">Welcome to our Course
    Reservation System</h1></center>

<h2 class="text-center m-3">List of courses</h2>
<div class="row justify-content-center">
    {% for row in shcool_course_list %}
    <div class="col-md-3 mb-4 container text-center">
        <div class="card" style=" margin-bottom: 20px; height: auto">
            <div class="card-header" style="background-color: lightcoral; color: white;">
                <h4 class="card-title">{{ row.course_name }}</h4>
            </div>
            <div class="card-body p-0 mb-2">
                <p class="card-header mb-1 p-0"><strong>ID:</strong> {{ row.id }}</p>
                <p class="card-text"><strong>School:</strong> {{ row.school_name }}</p>
                <p class="card-text"><strong>Address:</strong> {{ row.address }}</p>
                <p class="card-text"><strong>Date:</strong> {{ row.date }}</p>
                <p class="card-text"><strong>Time:</strong> {{ row.time }}</p>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
<form action="{% url 'bookings' %}" method="post">

    <h3 class="text-center">Choose course to book</h3>
    {% csrf_token %}

    <div class="col-auto text-center">
        <label for="course-id-input" class="col-2 col-form-label text-center">COURSE ID</label>
        <div class="col-2 container text-center">
            <input name='school_course_id' class="form-control  text-center" type="number" id="course-id-input">
        </div>
    </div>
    <br>
    <div class="container text-center mb-5">
        <button type="submit" class="btn btn-success">Book course</button>
    </div>

    {% if not shcool_course_list %}
    {{error}}
    {% endif %}

</form>


{% endblock %}